#blog-header{
    padding: 1.5em;
    padding-bottom: 0;
    text-align: center;
}

#blog-title{
    font-size: 6em;
    margin-bottom: 0;
}
#blog-subtitle{
    margin-top:0.3em;
    margin-bottom: 2em;
    font-size: 2em;
}

#blog-subnav{
    display: inline-block;
    margin-bottom: -4px;
    border: none;
    font-size: 1.5em;
}
#blog-subnav li a{
    border: none;
    border-radius: 1em 1em 0 0;
}
#blog-subnav li a:hover,
#blog-subnav .active a{
    color: black;
    background-color: #C8E6C9;
}

#blog-subnav li a{
    color: white;
}

.blog-article{
    text-align: left;
    font-size: 1.15em;
    padding: 1em;
    margin-bottom: 3em;
}
.article-content{
    color: #727272;
    font-size: 1.2em;
    text-align: left;
}

.article-title{
    margin-top: 1em;
    color: #212121;
    font-size: 3em;
}
.article-date{
    color: #727272;
    font-size: 2em;
    margin-bottom: 0.5em;
}

.article-image{
    margin-bottom: 1em;
    border-radius: 1em;
}

.read-more{
    background-color: #388E3C;
    color: white;
    font-size: 1.5em;
}
