body{
    padding-top: 50px;
}
.container-fluid{
    font-size: 24px;
    vertical-align: middle;
}
.navbar{
    margin-bottom: 0;
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 16px;
}

.navbar-toggle .icon-bar {
    width: 60px;
    height: 10px;
}
#navbar-top{
    text-align: center;
    background-color: #388E3C;
    border-color: #388E3C;
    font-size: 1.2em;
}
.container-fluid button{
    padding: 25px;
    float:right;

}
.navbar-fixed-top .navbar-collapse{
    max-height: none;
}
@media (max-width:990px){

    body{
        padding-top: 85px;
    }

    .container-fluid
    {
        font-size: 70px;
    }

    .name{
        font-size: 50px;
        width: 75%;
    }

    .navbar-nav>li>a{
        line-height: normal;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


.container-fluid .navbar-ul li a:hover,
.container-fluid .navbar-ul li a:focus,
.navbar-default .navbar-nav>li>a:hover{
    background-color: transparent;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background-color: transparent;
}

.container-fluid button #icon-bar{
    background-color: white;
}