<link rel="stylesheet" href="css/home.css">
<header id="home-header"  class="default-primary-color">

    <h1 id="home-title" class="text-primary-color">Charles-Étienne Parent</h1>

</header>
<div class="container">
    <div id="profil" class="col-md-3 col-md-push-9">
        <img class="img-responsive img-thumbnail" src="img/profil.png">
        <p class="vertical-divider"></p>
        <a class="btn social-button" ng-href="#/contact">
            <i class="fa fa-chevron-right"></i>
            <span class="social-link" >Contact me</span>
        </a>
        <a class="btn social-button"  ng-href="#/blog">
            <i class="fa fa-newspaper-o"></i>
            <span class="social-link">Blog</span>
        </a>
        <a class="btn social-button" ng-href="#/projects">
            <i class="fa fa-briefcase"></i>
            <span class="social-link">Projects</span>
        </a>
        <p class="vertical-divider"></p>
        <a class="btn social-button" ng-href="http://ca.linkedin.com/in/charlesetienneparent">
            <i class="fa fa-linkedin-square"></i>
            <span class="social-link">LinkedIn</span>
        </a>
        <a class="btn social-button" ng-href="https://github.com/ceparent">
            <i class="fa fa-github"></i>
            <span class="social-link">Github</span>
        </a>




    </div>

    <div id="about-me" class="col-md-9 col-md-pull-3">

        <div class="about-row row">
            <div class="about-icon col-md-3">
                <i class="fa fa-users"></i>
            </div>
            <div class="col-md-9 row-content">
                <h1>Who am I ?</h1>
                <div class="about-content">
                    <p>
                        Hi, I am Charles-Étienne Parent, a student in computer science and 19 years old of age. I live on Montreal's south shore in Québec, Canada.
                        Even though I am still a student, I have over 5 years of experience in programming. I am passionate about programming, computer science and technologies.
                    </p>
                    <p>
                        I believe <span class="content-highlight">UX (User eXperience)</span>  is as important as what the software or application can do and that, as a software and web developper, you should always balance the two.
                    </p>
                    <p>
                        I am also a firm believer in <span class="content-highlight">teaching for learning</span>. I have been a tutor in programming for the last 2 years and I can say I gained as much as I gave from the experience.
                    </p>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="about-icon col-md-3 col-md-push-9">
                <i class="fa fa-graduation-cap"></i>
            </div>
            <div class="col-md-9 col-md-pull-3 row-content">
                <h1>Knowledge</h1>
                <div class="about-content">
                    <p>
                        My first contact with programming languages was at 10 years old when I was teached basic HTML. Since then, I have learned A LOT.
                        In fact, the last 5 years have been the greatest learning experience I ever had. First learning by myself, then going to Cégep Édouard-Montpetit where I will graduate in spring 2015.
                    </p>
                    <p>
                        I have knowledge in <span class="content-highlight"> C#, Java, Javascript, GIT, SVN, SQL, HTML, CSS</span> and much more...
                    </p>
                    <p>
                        I have the ability to quickly learn and adapt to different frameworks. In the past I have used
                        <span class="content-highlight">
                            .Net, Asp.Net MVC, Android SDK, AngularJS, DropWizard, Jersey, Jetty, Jackson, Hibernate, Gson, Bootstrap, OpenGL, XNA, OpenTK, LWJGL
                        </span> and many more...
                    </p>
                </div>
            </div>
        </div>



        <div class="about-row row">
            <div class="about-icon col-md-3">
                <i class="fa fa-briefcase"></i>
            </div>
            <div class="col-md-9 row-content">
                <h1>My services</h1>
                <div class="about-content">
                    <p>
                        You need some need help for a new project or a project in developement? I might be interested!
                        Just send me a message by clicking <a ng-href="#/contact">here</a> or on the button below.
                    </p>
                </div>
            </div>

        </div>




    </div>

</div>